    <!-- temp css style -->
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-color:#999}
    .tg td{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
    .tg th{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;border-top-width:1px;border-bottom-width:1px;}
    .tg .tg-s6z2{text-align:right}
    .tg .tg-vn4c{background-color:#D2E4FC;text-align: right}
    </style>

    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <!-- 1st -->
            <div class="block">
                <h3 class="sub-title text-center">Data Structure</h3>
                <p>The platform currently <strong>ONLY</strong> support <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> format. An example of the expected CSV file is shown in below: each row represents one subject, and each column represents one region of interest (<a href="https://en.wikipedia.org/wiki/Region_of_interest">ROI</a>). An example of the CSV file taht you could use to test the platform can be downloaded <a href="https://github.com/jyfeather/BrainConn_APP">here</a>.</p>
                <table class="tg" align="center">
                  <tr>
                    <th class="tg-s6z2"></th>
                    <th class="tg-s6z2">Precentral_L</th>
                    <th class="tg-s6z2">Precentral_R</th>
                    <th class="tg-s6z2">Frontal_Sup_L</th>
                    <th class="tg-s6z2">Frontal_Sup_R</th>
                    <th class="tg-s6z2">Frontal_Sup_Orb_L</th>
                  </tr>
                  <tr>
                    <td class="tg-vn4c">Tom</td>
                    <td class="tg-vn4c">0.25</td>
                    <td class="tg-vn4c">0.23</td>
                    <td class="tg-vn4c">0.29</td>
                    <td class="tg-vn4c">0.29</td>
                    <td class="tg-vn4c">0.37</td>
                  </tr>
                  <tr>
                    <td class="tg-s6z2">John</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.25</td>
                    <td class="tg-s6z2">0.29</td>
                    <td class="tg-s6z2">0.27</td>
                    <td class="tg-s6z2">0.38</td>
                  </tr>
                  <tr>
                    <td class="tg-vn4c">Katty</td>
                    <td class="tg-vn4c">0.21</td>
                    <td class="tg-vn4c">0.19</td>
                    <td class="tg-vn4c">0.24</td>
                    <td class="tg-vn4c">0.22</td>
                    <td class="tg-vn4c">0.33</td>
                  </tr>
                  <tr>
                    <td class="tg-s6z2">Sally</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.24</td>
                    <td class="tg-s6z2">0.30</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.39</td>
                  </tr>
                </table> 
            </div><!--//block-->
            
            <!-- 2nd -->
            <div class="block">
                <h3 class="sub-title text-center">How SICE works</h3>
                <p>SICE, which stands for Sparse Inverse Covariance Estimation, is a machine learning learning technique taht was developed in <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3068623/">this study</a> to learn the brain connectivity network from high-dimensional neuroimaging data. SICE uses the L1-regularization technique to enhance the robustness of the learning results, and uses convex optimization tools to achieve stable and efficient computation.</p>
                <p>By using the L1-regularization, it allows control of the complexity of the network that can either be specified by user of SICE or by model selection criteria such as Bayesian Information Criterion (BIC).</p>
                <p>More specifically, the complexity of the network is controlled by the regularization parameter, commonly referred as lambda. For any given lambda, the brain connectivity network that fits the data best (out of all the network models whose complexity is not beyond the complexity specified by lambda) will be identified by SICE.</p> 
                <img src="{{ site.baseurl }}public/images/penalty.png" alt=""/>
                <br/>
            </div><!--//block-->

            <!-- 3rd -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for Single Group Analysis</h3>
                <p>SICE can be used to convert your high-dimensional neuroimaging data into a brain connectivity network. Complex network analysis (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19819337">here</a> is a comprehensive survey) is to characterize the brain connectivity network with a small number of neurobiologically meaningful measures. Network characteristics will be automatically calculated on your brain connectivity network such as the diameter, degree distribution, characteristic path length, global efficiency, clustering coefficient, etc.</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/1_explore" target="_blank">Example</a>
                </p>
            </div><!--//block-->   

            <!-- 4th -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for multiple group comparison</h3>
                <p>SICE was used in <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3068623/">this study</a> to compare the brain connectivity networks across three groups, the Alzheimer's disease, Mild Cognitive Impairment, and Normal Aging. A particularly visualization form, a "checkbox" figure is used to visualize each network. For instance, in this checkbox figure, each row and each column represents a brain region, and a check in the figure represents that the two corresponding brain regions are connected. By making the rows and the columns correspond to the same set of brain regions following the same order, it makes the network comparison across groups easier.</p>
                <img src="{{ site.baseurl }}public/images/compare.png" alt=""/>
                <br/>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/4_Huang" target="_blank">Example</a>
                </p>
            </div><!--//block-->

            <!-- 5th -->
            <hr/>
            <div class="block">
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="" target="_blank">Play with Your Data</a>
                </p>
            </div>
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
