    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            

            <!-- 1st -->
            <div class="block">
                <h3 class="sub-title text-center">Data Structure</h3>
                <p>Say Something ...</p>
                
            </div><!--//block-->
            
            <!-- 2nd -->
            <div class="block">
                <h3 class="sub-title text-center">How SICE works</h3>
                <p>Say Something ...</p>
               
            </div><!--//block-->

            <!-- 3rd -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for Single Group Analysis</h3>
                <p>Say Something ...</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/1_explore" target="_blank">View on Shinyapp</a>
                </p>
            </div><!--//block-->   

            <!-- 4th -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for multiple group comparison</h3>
                <p>Say Something ...</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/4_Huang" target="_blank">View on Shinyapp</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
