    <!-- temp css style -->
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-color:#999}
    .tg td{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
    .tg th{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;border-top-width:1px;border-bottom-width:1px;}
    .tg .tg-s6z2{text-align:right}
    .tg .tg-vn4c{background-color:#D2E4FC;text-align: right}
    </style>

    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <p>Say Something ...</p>

            <!-- 1st -->
            <div class="block">
                <h3 class="sub-title text-center">Data Structure</h3>
                <p>CSV format: each row represents one subject, and each column represents one region of interest (ROI)</p>
                <table class="tg" align="center">
                  <tr>
                    <th class="tg-s6z2"></th>
                    <th class="tg-s6z2">Precentral_L</th>
                    <th class="tg-s6z2">Precentral_R</th>
                    <th class="tg-s6z2">Frontal_Sup_L</th>
                    <th class="tg-s6z2">Frontal_Sup_R</th>
                    <th class="tg-s6z2">Frontal_Sup_Orb_L</th>
                  </tr>
                  <tr>
                    <td class="tg-vn4c">Tom</td>
                    <td class="tg-vn4c">0.25</td>
                    <td class="tg-vn4c">0.23</td>
                    <td class="tg-vn4c">0.29</td>
                    <td class="tg-vn4c">0.29</td>
                    <td class="tg-vn4c">0.37</td>
                  </tr>
                  <tr>
                    <td class="tg-s6z2">John</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.25</td>
                    <td class="tg-s6z2">0.29</td>
                    <td class="tg-s6z2">0.27</td>
                    <td class="tg-s6z2">0.38</td>
                  </tr>
                  <tr>
                    <td class="tg-vn4c">Katty</td>
                    <td class="tg-vn4c">0.21</td>
                    <td class="tg-vn4c">0.19</td>
                    <td class="tg-vn4c">0.24</td>
                    <td class="tg-vn4c">0.22</td>
                    <td class="tg-vn4c">0.33</td>
                  </tr>
                  <tr>
                    <td class="tg-s6z2">Sally</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.24</td>
                    <td class="tg-s6z2">0.30</td>
                    <td class="tg-s6z2">0.28</td>
                    <td class="tg-s6z2">0.39</td>
                  </tr>
                </table> 
            </div><!--//block-->
            
            <!-- 2nd -->
            <div class="block">
                <h3 class="sub-title text-center">How SICE works</h3>
                <p>Say Something ...</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/0_intro" target="_blank">View on Shinyapp</a>
                </p>
               
            </div><!--//block-->

            <!-- 3rd -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for Single Group Analysis</h3>
                <p>Say Something ...</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/1_explore" target="_blank">View on Shinyapp</a>
                </p>
            </div><!--//block-->   

            <!-- 4th -->
            <div class="block">
                <h3 class="sub-title text-center">SICE for multiple group comparison</h3>
                <p>Say Something ...</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://jyfeather.shinyapps.io/4_Huang" target="_blank">View on Shinyapp</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
