    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Alzheimer's Disease</li>
                <li><i class="fa fa-check"></i> Feature Selection </li>
                <li><i class="fa fa-check"></i> Inverse Covariance Matrix</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
