<!-- ******PUBLICATIONS****** --> 
    <section id="publications" class="publications section has-pattern">
        <div class="container">
            <div>
                <h2 class="title text-center">Publications</h2>
                <ol>
                    <li>
                        Huang, S., Li, J., Sun, L., Ye, J., Chen, K. and Wu, T., 2009, “Learning Brain Connectivity of Azheimer's Disease from Neuroimaging Data,” <i><u>Proceedings of Neural Information Processing Systems Conference (NIPS)</u></i> (paper acceptance rate 8%), Dec. 7-9, 2009, Vancouver, B.C., Canada.
                    </li>
                    <li>
                        Huang, S., Li, J., Sun, Li., Ye, J., Fleisher, A., Wu, T., Chen, K., and Reiman, E., (2011), “Learning Brain Connectivity of Alzheimer’s Disease by Sparse Inverse Covariance Estimation”, <i><u>NeuroImage</u></i>, 50, 935-949.
                    </li>
                    <li>
                        Huang, S., Li J., Ye, J., Chen, L., Wu, T., Fleisher, A. and Reiman, E., 2011, “Identifying Alzheimer’s Disease-Related Brain Regions from Multi-Modality Neuroimaging Data using Sparse Composite Linear Discrimination Analysis,” <i><u>Proceedings of Neural Information Processing Systems Conference (NIPS)</u></i> (paper acceptance rate 4.8%), Dec. 12-17, 2011, Granada, Spain.
                    </li>
                    <li>
                        Huang, S., Li, J., Ye, J., Fleisher, A., Chen, K. and Wu, T., 2011, “Brain Effective Connectivity Modeling for Alzheimer’s Disease by Sparse Bayesian Network,” <i><u>The 17th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD 2011)</u></i> (paper acceptance rate 17.5%), Aug. 21-24, 2011, San Diego, USA.
                    </li>
                    <li>
                        Huang, S., Ye, J., Fleisher, A., Chen, K., Reiman, E., Wu, T., and Li, J., 2013, “A Sparse Structure Learning Algorithm for Bayesian Network Identification from High-dimensional Data,” <i><u>IEEE Transactions on Pattern Analysis and Machine Intelligence</u></i>, 35(6), 1328-1342.
                    </li>
                    <li>
                        Huang, S., Li, J., Chen, K., Wu, T., Ye, J., Wu, X., and Li, Y., 2013, “A Transfer Learning Approach for Network Modeling,” <i><u>IIE Transactions</u></i>, 44, 915-931.
                    </li>
                    <li>
                        Liu, Y., Fabri, P., Zayas-Castro, J. and Huang, S., 2014 “Learning High-dimensional Networks with Nonlinear Interactions by a Novel Tree-Embedded Graphical Model”, <i><u>Pattern Recognition Letters</u></i>, 49 (1), 207-213.
                    </li>
                </ol>
            </div><!--//publications-inner-->
        </div><!--//container-->
    </section><!--//publications-->  
