<!-- ******PUBLICATIONS****** --> 
    <section id="publications" class="publications section has-pattern">
        <div class="container">
            <div>
                <h2 class="title text-center">Publications</h2>
                <ol>
                    <li>
                        Huang, S., Li, J., Sun, Li., Ye, J., Fleisher, A., Wu, T., Chen, K., and Reiman, E., (2011), “<a href="http://papers.nips.cc/paper/3651-learning-brain-connectivity-of-alzheimers-disease-from-neuroimaging-data.pdf">Learning Brain Connectivity of Alzheimer’s Disease by Sparse Inverse Covariance Estimation</a>”, NeuroImage, 50, 935-949.
                    </li>
                    <li>
                        Lin, Y., Liu, K., Byon, E., Qian, X., Huang, S., (2014), “<a href="">Domain-Knowledge Driven Cognitive Degradation Modeling for Alzheimer’s Disease</a>”, The SIAM International Conference on Data Mining (SDM 2015). 
                    </li>
                </ol>
            </div><!--//publications-inner-->
        </div><!--//container-->
    </section><!--//publications-->  
