    <!-- ******CONTACT****** --> 
    <section id="team" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Team Members</h2>
                <p class="intro  text-center">Dr. Shuai Huang's Group at University of Washington</p>
                <!-- Shuai Huang -->
                <div class="author-message">                      
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}public/images/profile_shuai.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Welcome to Brain Connectivity Group</h3>
                        <p>We are working hard on research of brain connectivity network.</p>
                        <div class="source">
                            <span class="name"><a href="https://sites.google.com/site/shuaihuang28/" target="_blank">Shuai Huang</a></span>
                            <br />
                            <span class="title">Assistant Professor</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble--> 
                </div><!-- //Shuai Huang -->
                <!-- Yan Jin -->
                <div class="author-message">                      
                    <div class="profile">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/profile_yan.png" alt="" />
                    </div>
                    <div class="speech-bubble">
                        <p>My responsibilities include research on brain connectivity network, and maintaining this website.</p>
                        <div class="source">
                            <span class="name"><a href="http://me.yanjin.info/" target="_blank">Yan Jin</a></span>
                            <br />
                            <span class="title">PhD Student</span>
                        </div><!--//source-->
                    </div>
                </div><!--//Yan Jin-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="mailto:jyfeather@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                        <li><a href="https://www.github.com/jyfeather"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/jyfeather" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/jyfeather" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="last"><a href="https://www.linkedin.com/in/jyfeather"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
