    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Brain <span class="highlight">Connectivity</span></h2>
            <p class="intro">An Interactive Platform for Brain Connectivity Learning, Analysis, and Visualization</p>

        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=jyfeather&repo=BrainConn_APP&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=jyfeather&repo=BrainConn_APP&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20"></iframe></li>
                </ul>
            </div>
        </div>
    </section><!--//promo-->
